@import "./reset.css"all;
@import "../fonts/stylesheet.css"all;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  /* Colors */
  --primay-color: #18CFAB;
  --second-color: #717171;
  --dark-grey: #777777;
  --light-grey: #BBBBBB;
  --grey: #4E4E4E;

  /* Typography */
  --primary-font: 'Montserrat', sans-serif;
  --primary-size: 3.6rem;
  --second-size: 1.5rem;
}

/* CONST SELECTORS */
.container {
  max-width: 116rem;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  font-family: var(--primary-font);
}

.btn {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--primary-font);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
}

.btn-primary {
  background-color: var(--primay-color);
  border-radius: 0.5rem;
  padding: 2.6rem 3.2rem;
  font-size: 1.5rem;
  position: relative;
  letter-spacing: 0.1rem;
}

.btn-primary::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  border-radius: 0.5rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.btn-primary:hover::before {
  opacity: 0;
}

.btn-second {
  background-color: var(--primay-color);
  border-radius: 0.5rem;
  padding: 2.6rem 3.2rem;
  font-size: 1.5rem;
}
.btn-second::before{
  content: "";
  left: 0;
  display: inline-block;
  vertical-align: sub;
  margin-right: 1.5rem;
  width: 1.8rem;
  height: 1.9rem;
  background-image: url("../icons/png/plus.png");
  background-position: center;
  background-repeat: no-repeat;
}

.blue {
  background-color: #00CBF6;
  border-top: 0;
}

.section{
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.icon-link{
  background-image: url("../icons/png/search.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: contain;
  width: 1.7rem;
  height: 1.7rem;
}
.icon-square{
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--primay-color);
  transition: 0.3s ease-in-out;
}

/*  */
/* MAIN STYLES */
/*  */

/*  */
/* Hero section */
/*  */
.hero-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--light-grey);
  background-image: url("../img/Sections_background/section-1(header).jpg");
  z-index: 10;
}

.hero-bg>* {
  z-index: 10;
}

.hero-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 93, 88, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  padding: 2.6rem 0;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-link .logo-icon {
  margin-right: 0.6rem;
}

.logo-link .logo-text {
  font-family: var(--primary-font);
  font-size: 32px;
  color: #ffffff;
}

.logo-text span {
  font-weight: 800;
  color: var(--primay-color);
}

.hero-bg .main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(94, 93, 88, 0.6);
}

.menu-list {
  display: flex;
  height: 100%;
}

.menu-list .menu-item {
  margin-right: 2.1rem;
  display: flex;
  position: relative;
}

.menu-list .menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
  font-family: var(--primary-font);
  color: #b8b8b8;
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  align-self: center;
  transition: 0.3s ease-in-out;
}

.menu-link:hover {
  color: var(--primay-color);
}

.menu-link:hover .menu-list::after {
  display: block;
}

.menu-link::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: var(--primay-color);
}

.menu-link:hover::after {
  display: block;
}

.menu-item:last-child>.menu-link:hover::after {
  display: none;
}

.header-menu {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.search-icon {
  background-image: url("../icons/png/search.png");
}

.search-icon:hover {
  background-image: url("../icons//png/search-hover.png");
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  text-align: center;
  margin-bottom: 12.2rem;
}

.main-heading .sub-hero {
  font-weight: 800;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2.2rem;
}

.main-heading .sub-hero span {
  color: var(--primay-color)
}

.main-heading .hero-text {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 7.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2.2rem;
}

.main-heading .sub-text {
  font-size: 3.4rem;
  color: #D4D4D4;
}

.main-btns {
  display: flex;
}

.main-btns .btn-primary {
  margin-right: 2.6rem;
}

.main-btns .btn-primary:last-child {
  margin-right: 0;
}

/*  */
/* ADVANTAGES */
/*  */

.advantages {
  margin-top: 0.5rem;
}

.advantages-list {
  display: flex;
}

.advantages-list .advantage-item {
  width: 25%;
  height: 37.7rem;
  background-color: var(--primay-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantage-figure {
  margin-bottom: 4.7rem;
  min-height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-text {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.advantages-list .advantage-item:nth-child(odd) {
  background-color: #1C2A33;
}

.advantages-list .advantage-item:nth-child(odd) .advantage-text {
  color: var(--primay-color);
}



/*  */
/* Our Services */
/*  */

.section-heading{
margin-bottom: 7rem;
position: relative;
padding-bottom: 3rem;
}
.section-heading .heading-text{
 font-family: var(--primary-font);
 font-size: 3.6rem;
 color: var(--grey);
 text-align: center;
}
.section-heading .heading-text::after,
.section-heading .heading-text::before{
  content: "";
  position: absolute;
  left: 50%;
  width: 7.9rem;
  height: 0.2rem;
  background-color: var(--primay-color);
  bottom: 0;
}
.section-heading .heading-text::before{
  transform: translateX(-50%);
  bottom: .6rem;
}



.tabs {
  display: flex;
  margin-bottom: 2.5rem;
}
.tabs-title{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.6rem;
  background: #F8FCFE;
  border: 0.1rem solid #EDEFEF;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--second-color);
  transition: 0.2s ease-in-out;

}
.tabs-title:hover,.tabs-title:focus{
  border: 0.1rem solid var(--primay-color);
}

.tabs-title.active {
  background-color: var(--primay-color);
  color: #ffffff;
  border: 0.1rem solid var(--primay-color);
  position: relative;
}
.tabs-title.active::after{
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--primay-color);
  bottom: -1.4rem;
  left: 50%;
  transform: rotate(45deg)  translateX(-50%);;
}

.tabs-article {
  display: none;
}

.tabs-article.active {
  display: flex;
}
.tabs-article .tabs-img{
  max-width: 19.2rem;
  max-height: 13.9rem;
  margin-right: 1.5rem;
}
.tabs-article .tabs-content{
  font-family: var(--primary-font);
  color: var(--dark-grey);
  font-size: 1.36rem;
  font-weight: 300;
  line-height: 2.4rem;
}


/*  */
/* Puchase */
/*  */
.purchase{
  padding-top: 12.6rem;
  padding-bottom: 12.6rem;
  display: flex;
  justify-content: center;
  background-color: var(--dark-grey);
  background-image: url("../img/Sections_background/section-2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.purchase::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.purchase> * {
  z-index: 10;
}

.purchase-heading{
  font-family: var(--primary-font);
  color: var(--primay-color);
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.purchase-subtext{
  font-family: var(--primary-font);
  color: #D8D8D8;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 6rem;
}

.purchase-action{
  display: flex;
  justify-content: center;
}

/*  */
/* Work */
/*  */
.work{
  background-color: #E9EDEF;
}

.trigger-list{
  display: flex;
  justify-content: center;
  margin-bottom: 8.4rem;
}

.trigger-list .trigger-item{
  font-family: var(--primary-font);
  color: var(--second-color);
  padding: 1.3rem 1.6rem;
  cursor: pointer;
  border: 1px solid #DADADA;
  transition: 0.3s ease-in-out;
  font-size: 1.4rem;
}

.trigger-list .trigger-item:hover,
.trigger-list .trigger-item:focus{
  color: var(--primay-color)
}

.trigger-list .trigger-item.active{
  border: 1px solid var(--primay-color);
  color: var(--primay-color)
}

.filter-list{
  margin-bottom: 7rem;
  display: flex;
  flex-wrap: wrap;
}
.filter-list .filter-item{
  width: 28.5rem;
  height: 21.1rem;
  position: relative;

}
.filter-item .filter-img{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.3s ease-in-out;

}
.filter-item .filter-desc{
  opacity: 0;
  position: absolute;
  border-top: .6rem solid var(--primay-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.filter-item:hover .filter-img,
.filter-item:focus .filter-img{
  opacity: 0;
}
.filter-item:hover .filter-desc,
.filter-item:focus .filter-desc{
  opacity: 1;
}

.filter-desc .filter-action {
  display: flex;
  margin-bottom: 3rem;
}

.filter-action .filter-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  background-color: #eee;
  border: .2rem solid var(--primay-color);
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5rem;
  transition: 0.3s ease-in-out;
}
.filter-action .filter-link:last-child{
  margin-right: 0;
}

.filter-link:hover{
  background-color: var(--primay-color);
}
.filter-link:hover .icon-square{
  background-color: #fff;
}

.filter-load{
  display: flex;
  justify-content: center;
}
.filter-value{
  font-family: var(--primary-font);
  color: var(--primay-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.filter-subtext{
  font-family: var(--primary-font);
  color: #8A8A8A;
  font-size: 1.2rem;
  font-weight: 300;
}



/* 
News
*/

.news-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem 3rem;
}
.news-content{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.news-content:hover .news-date,
.news-content:focus .news-date{
background-color: var(--primay-color);
}
.news-content:hover .news-heading,
.news-content:focus .news-heading{
  color: var(--primay-color)
}

.news-content .news-figure{
  position: relative;
  max-width: 26.3rem;
  max-height: 20.8rem;
}
.news-figure .news-img{
  width: 100%;
  height: 100%;
}
.news-figure .news-date{
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 6.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem 0.4rem;
  align-items: center;
  background-color: #203E38;
  transition: 0.3s ease-in-out;
}
.news-date span{
  font-family: var(--primary-font);
  font-size: 16px;
  color: #fff;
}

.news-heading{
  font-family: var(--primary-font);
  font-size: 1.8rem;
  color: var(--second-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: 800;
  transition: 0.3s ease-in-out;

}
.news-data{
  display: flex;
  margin-left: 1.2rem;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  color: #777777;
}

.data-item{
  padding-right: 1rem;
  border-right: 0.1rem solid #777777;
}

.data-item:last-child{
  padding-left: 1rem;
  border: none;
}




/* 
Testimonials
 */
.testimonials{
  padding-top: 9.8rem;
  padding-bottom: 10.4rem;
  z-index: 10;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../img/Sections_background/section-3.jpg");
  background-color: rgba(0, 0, 0, 0.8);

  background-blend-mode: multiply;
}

/* .testimonials::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
} */

/* .testimonials > *{
  z-index: 10;
} */

.testimonials .section-heading .heading-text{
  color: #ffffff;
}

.slider-container{
  overflow: hidden;
}
.slider-track{
  transition: 0.3s ease-in-out;
  display: flex;
}

.slider-item{
  height: auto;
  min-width: 100%;
}

.active-dot{
  color: #717171;
}

.testimonial-content{
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 8rem;
}
.testimonial-content::before{
  content: url(../icons/png/blockq.png);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.testimonial-text{
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  color: #BBBBBB;
  line-height: 3rem;
  margin-bottom: 3.7rem;
}
.testimonial-author{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author-credentials{
  font-family: var(--primary-font);
  color: var(--primay-color);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.author-position{
  font-family: var(--primary-font);
  color: #BBBBBB;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.author-img{
  width: 14.3rem;
  height: 14.3rem;
  border-radius: 50%;
  border: .6rem solid rgba(31, 218, 181, 0.3);
}

.slider-controls{
  margin-top: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-dots{
  margin-left: 3rem;
  margin-right: 3rem;
}
.slider-dot{
  margin-right: 2.7rem;
}
.slider-dot.active-dot{
margin-bottom: 1rem;
top: -10px;
}

.slider-dot:last-child{
  margin-right: 0;
}
.dot-img{
  width: 6rem;
  height: 6rem;
  border: .3rem solid rgba(31, 218, 181, 0.3);
  border-radius: 50%;
}